[submodule "visual/egui_graphs"]
	path = visual/egui_graphs
	url = https://github.com/ple1n/egui_graphs
[submodule "visual/fdg"]
	path = visual/fdg
	url = https://github.com/ple1n/fdg
[submodule "mapgraph"]
	path = mapgraph
	url = https://gitlab.com/planetoryd/mapgraph
